.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#footericon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
ul.bigger {
  font-size: larger;
}
#paragraph {
  margin-top: 5em;
  p {
    font-size: larger;
  }
  h3,
  h5 {
    font-size: xx-large;
  }
}
.center {
  line-height: 60px;
  text-align: center;
}
.spaceright {
  margin-right: 265px;
}

.ismywebdown {
  border-radius: 45px;
  background: #e0e5ec;
  box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
}
.ipadtitle {
  font-size: 72px;
}
//default
#content-desktop {
  display: block;
}
#content-tablet {
  display: none;
}
#content-mobile {
  display: none;
}
#BrowserView {
  display: block;
}
#MobileView {
  display: none;
}
#TabletView {
  display: none;
}
h1.title {
  font-size: 5em;
}
.aboutme{
  font-size: 2em;
}
@media screen and (max-width: 1365px) {
  h1.title {
    font-size: 3em;
  }
  #content-desktop {
    display: none;
  }
  #content-tablet {
    display: block;
  }
  #content-mobile {
    display: none;
  }
  #BrowserView {
    display: none;
  }
  #MobileView {
    display: none;
  }
  #TabletView {
    display: block;
  }
  .aboutme{
    font-size: 1em;
  }
}
@media screen and (max-width: 850px) {
  h1.title {
    margin-top: 0.25em;
    font-size: 1.5em;
  }
  #content-desktop {
    display: none;
  }
  #content-tablet {
    display: none;
  }
  #content-mobile {
    display: block;
  }
  #BrowserView {
    display: none;
  }
  #MobileView {
    display: block;
  }
  #TabletView {
    display: none;
  }
  .aboutme{
    font-size: 1em;
  }
}
body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", monospace;
}
text {
  font-family: "Kanit", sans-serif;
}
.profile {
  margin: 1.25em;
}
#zoom{
  transition: transform .2s;
}
#zoom:hover{
  transform: scale(1.05);
}